[mysqld]
# 允许从所有 IP 地址连接
bind-address = 0.0.0.0

# 设置默认字符集为 utf8mb4
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 设置 InnoDB 缓冲池大小
innodb_buffer_pool_size = 256M

# 设置最大连接数
max_connections = 100

# 启用慢查询日志（可选）
slow-query-log = 1
long-query-time = 2

# 设置身份验证插件为 mysql_native_password
default_authentication_plugin = mysql_native_password

lower_case_table_names=0
